.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  position: relative;
}

.orange {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 50vw;
  height: 150vh;
}

header nav {
  width: 100%;
  background: rgba(99, 182, 207, 0.2);
  filter: blur(1px);
  position: relative;
  z-index: 2;
  font-weight: bold;
}
header nav ul {
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  position: relative;
  z-index: 3;
}
header nav ul li {
  font-size: 1.75rem;
}
header nav ul li a {
  color: hsla(167, 58%, 34%, 0.829);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
header nav #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 1;
}

main {
  display: flex;
  flex-wrap: wrap;
}
main section.left {
  flex: 3 1 500px;
  padding: 2rem;
}
main section.left h1 {
  font-size: 4rem;
  color: #e08958;
}
main section.left p {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}
main section.right {
  flex: 1 1 600px;
  position: relative;
}
main section.right img {
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  position: absolute;
  top: 55vh;
  right: 25vw;
  transform: translateY(-50%);
}
main section.table {
  flex: 3 1 500px;
  padding: 2rem;
}
main section.table table {
  border-collapse: collapse;
}
main section.table table tr {
  border-bottom: 2px solid gray;
  transition: all 0.2s ease;
}
main section.table table tr td {
  padding: 1rem;
}
main section.table table tr:hover {
  background-color: #ffd2b8;
}
main section.picture {
  flex: 1 1 600px;
  position: relative;
}
main section.picture img {
  width: 30vw;
}
main section.picture div.orangeRect {
  width: 30vw;
  height: 90vh;
  background-color: #e08958;
  position: absolute;
  top: 30px;
  left: 80px;
  z-index: -1;
}
main section.form {
  flex: 1 1 600px;
}
main section.form form {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5rem;
}
main section.form form div {
  margin: 0.5rem;
}
main section.form form div label {
  font-size: 1.5rem;
  margin-right: 1rem;
}
main section.form form div input,
main section.form form div textarea {
  background-color: #ffaa79;
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem 0.25rem;
  border: none;
  width: 90%;
}
main section.form form div textarea {
  vertical-align: top;
}
main section.form form button {
  align-self: center;
  background-color: #e08958;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.75em 1.5rem;
  font-size: 2rem;
  border-radius: 10px;
}
main div.line {
  background-color: gray;
  width: 3px;
}
main section.contact {
  flex: 1 1 500px;
  display: flex;
  align-items: center;
  padding: 2rem;
}
main section.contact div.content h2 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 1rem 0rem;
}

#videos {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 1rem;
}

#videos .video_controls {
  font-size: 100px;
  background-color: #e08958;
}

footer a {
  padding: 1rem;
}

.active {
  color: #e08958;
}

@media screen and (max-width: 1100px) {
  .orange {
    opacity: 0.5;
  }
  header nav ul {
    width: 100%;
    flex-direction: column;
  }
  header nav ul li {
    padding: 1rem 0rem;
    border-bottom: 2px solid gray;
  }
  main section.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
  main section.right img {
    position: static;
    transform: none;
    width: 50vw;
    height: 50vw;
  }
  main section.picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.picture img {
    width: 60vw;
  }
  main section.picture div.orangeRect {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */
  main section.picture div.orangeRect {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */
